body {
  margin: 0;
  background-color: #121212;
  color: #fff;
  font-family: 'Segoe UI', sans-serif;
  overflow-x: hidden;
}

.content {
  padding: 20px;
}

img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}
